.App {
  text-align: center;
}

@import '~bootstrap/dist/css/bootstrap.min.css';



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.carousel-indicators {
  display: none !important;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 26rem;
  margin-left: 15%;
}

.carousel-control-prev-icon {
  display: inline-block;
  width: 72rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 67%;
  background-size: 100% 100%;
}





.sticky-top {
  position: sticky;
  top: 56px;
  z-index: 1020;
  margin-top: 0px;
  border: solid #fff;
}

.bg-light {
  --bs-bg-opacity: "opacity";
}

.hh {
  position: relative;
  top: 0;
  height: 20px;
  z-index: 1
}




.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
  border: solid;
  border-radius: 50%;
  color: orangered;
}

.mr-auto {
  color: #fff !important
}
.sideiimg{
  background-image: url('./components/assests/Capture33.PNG');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: 'inline-block';
  width:100%;
  height:100vh;
}

.sidetext{ display: inline; width:50%;font-size:14px}


.topsideiimg{
  display: inline;width:50%;height:100vh; }
  .sidetexticon{
    display: inline;}

.firsttab{
   width: 33.33%;
   background-color: #112C41;
   border-right: solid 3px black;
   color: #fff;
}
.firsttabcontainer{
  display: flex;
    margin-top: 0px;
}
.carousel-control-prev {
  position: absolute;
  
  top: -141px;
  bottom: -448px !important;
  left: 14px !important;
     
  margin-right: -480px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 179%;
  padding: 0;
  color: #fff;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}

.carousel-control-next {
  position: absolute;
  top: -142px;
    bottom: -448px !important;
    left: 70px !important;
  margin-right: -480px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 179%;
  padding: 0;
  color: #fff;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}
.maindivv{
  width: 100vw !important;
}
.firstnav{
  z-index: 1;
   position: sticky;
    top: -65px;
    width: 100%;
    height: 55px;
}
.first-section{ background-color: red }
.third-section{
  background-color: #112C41
}

@media only screen and (max-width: 1000px) {


  .maindivv{
    
    width: 100% !important;
  }
  .firsttabcontainer{
    display: flex;
    
  }
  .carousel-control-prev {
    position: absolute !important;
    top: 36px !important;
    bottom: -265px !important;
    left: -35px !important;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
   
    padding: 0;
    color: #fff;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}
.carousel-control-next {
  position: absolute !important;
  top: 36px !important;
    bottom: -265px !important;
    left: 11px !important;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 0;
  color: #fff;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}



  .task {
    position: absolute;
    top: 82% !important;
    left: 54% !important;
    transform: translate(-50%, -50%);
    font-size: 14px !important;
    color: white;
    width: 100%;
  
}


  .w-100 {
    width: 100% !important;
    height: 70vh;
}


  .topsideiimg{
    display: inline;width:50%;height:50vh; }

  .sideiimg{
    width:100%;
    height: 50vh;
  }
  .sidetext {
    
    font-size:4px

  }
  .sidetexticon{
    display: inline;
    width: 10px;
    height: 10px;
  }
  h1{
    font-size:8px
  }
  h3{
    font-size:6px
  }

  
  .second-section{
  
    font-size:8px !important
  }
  .toptabcont {
    display: inline-block !important;
    background: #112C41 !important;
    color: #FFFFFF !important;
    margin-top: 0px;
    font-size: 5px;
  
  
  }
  .tabiconn {
    position: static;
    width: 100%;
    margin-left: 15px !important;
    margin-top: -23px !important;
    margin-bottom: 15px;
}

}

.second-section{background-color: white; display: flex;flex-wrap: nowrap;width:100% ;}



.iiii {
  border: #e04c07 solid;
  background-color: #112C41;
  background-image: url('./components/assests/Capture33.PNG');
  height: 100vh !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline;
  width: 50% !important;

}

.tt {
  display: flex;
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  text-align: center;
  line-height: 200px;

}

.graph {
  background-image: url('./components/assests/Group\ 1593.png');
  height: 25vh !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.lll {
  background-image: url('./components/assests/Capture33.PNG');

  background-repeat: no-repeat;
  background-size: 50% 50%;

}

.tabicon {

  display: inline-block;
  margin-left: 380px;
  margin-top: -53px;
  margin-bottom: 42px;

}

.rrr {
  position: relative;
}

.task {
  position: absolute;
  top: 65%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;

  width: 100%;
  animation: scrollText 20s linear infinite;
}

.col {
  background-color: #282c34;
  color: #fff;
  border: solid;
}

.carousel {
  position: relative;
  margin-top: -55px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.toptabcont {
  display: inline-block !important;
  background: #112C41 !important;
  color: #FFFFFF !important;
  margin-top: 0px;


}



.tabiconn {
  position: static;
  width: 100%;
  margin-left: 376px ;
  margin-top: -62px ;
  margin-bottom: 15px;
}


.ccc {
  display: grid;

  height: 100vh;
  grid-template-areas: "s s u h" "i m m h" "i a a a";
}

.bbb {
  border: 2px solid white;

  width: 100%;
}

#bbb1 {

  background-image: url('./components/assests/Rectangle\ 20.png');
  background-repeat: no-repeat;

  grid-area: s;
}

#bbb3 {

  background-image: url('./components/assests/Rectangle\ 21.png');
  background-repeat: no-repeat;
  grid-area: u;
}

#bbb4 {
  background-image: url('./components/assests/Rectangle\ 22.png');
  background-repeat: no-repeat;
  grid-area: h;

}

#bbb5 {
  background-image: url('./components/assests/Rectangle\ 23.png');
  background-repeat: no-repeat;

  grid-area: i;
}

#bbb6 {
  background-image: url('./components/assests/Rectangle\ 27.png');
  background-repeat: no-repeat;
  grid-area: a;
}

#bbb2 {
  background-image: url('./components/assests/Capturett.PNG');
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;

  grid-area: s;
  grid-area: m;
}



.cccc {
  display: grid;

  height: 100vh;
  grid-template-areas: "n n k k " "f f f o";
  margin-bottom: 60px;
}

.ccccc {
  display: grid;
  background-color: #112C41;

  grid-template-areas: "t h ";

}

#bbb7 {


  background-repeat: no-repeat;
  background-position: center;

  width: 437px;
  grid-area: n;
  grid-area: n;
}

#bbb8 {
  background-repeat: no-repeat;
  background-position: center;

 width: 9;
  grid-area: k;
  grid-area: k;
}

#bbb9 {
  background-color: #e04c07;
  background-image: url('./components/assests/Rectangle\ 30.png');
  background-repeat: no-repeat;
  background-position: center;
  padding: 173px;
  height: 34vh;
  grid-area: f;
  grid-area: f;
  grid-area: f;

}

#bbb10 {

  background-image: url('./components/assests/Rectangle\ 31.png');
  background-repeat: no-repeat;
  background-position: center;
  grid-area: o;

}

#bbb22 {
  margin: auto;
  text-align: 'center';
  background-color: #112C41;
  grid-area: h;
  grid-area: h;

}

#bbb33 {

  background-color: #112C41;
  position: relative;
  color: black;
  grid-area: t;
  grid-area: t;

}

.porfile {
  width: 200px;
  height: 105px;
  position: absolute;
  top: 87px;
  left: -571px;
  vertical-align: middle;
}

.inner_div {
  text-align: center;
  padding-left: 40%;
}

.center_img {
  background-image: url('./components/assests/Rectangle\ 19.png');
  background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 125px;
    height: 110px;
    background-color: #112c41;
}

.coma {
  background-image: url('./components/assests/Group\ 7.png');
  background-size: 20px;
  width: 60px;
  height: 28px;

  background-repeat: no-repeat;
}
.innerprofile{
  margin-top: 39%;
    margin-left: 60%;
}
.profile1{
  display: inline;
  width: 35%;
  padding-top: 0px;
}
.six-section {
  display: grid;

  grid-template-areas: "w w " " l l";


}

.boxsix1 {

  text-align: center;
  grid-area: w;
  grid-area: w;


}

.boxsix2 {

  height: 500px;
  grid-area: l;
  grid-area: l;
}

.innerboxsix2 {
  background-image: url('./components/assests/Group\ 1585.png');
  background-repeat: no-repeat;
  height: 100vh;
  margin-top: 7%;
  background-size: 100% 46%;
}

.footer {
  background-image: url('./components/assests/footer.png');
  background-repeat: no-repeat;
  
  height: 400px;
  
  background-size: 100% 100%;
}